@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="col-sm-6 float-left">
        <img src="~/img/diamond.png" class="col-sm-12" />
    </div>

    <div class="text-left col-sm-6 float-right">        
        <h1 class="display-4 font-italic text-white"><strong>INNOVAMOS PARA MEJORAR LA CALIDAD</strong></h1>
        <br />
        <p class="text-white">
            Wirsolut es una empresa tecnológica fundada por profesionales de sistemas con más de 10 años de experiencia en el rubro que se dedica
            principalmente al Desarrollo de Productos Propietarios, tanto de software como de hardware, para sus Clientes alrededor del mundo.
        </p>
    </div>
</div>

